= simple_form_for @quote, html: { class: 'form-horizontal' } do |f|
  = f.input :text
  = f.input :author_nickname
  .text-center.margin-top-40.margin-bottom-40
    = f.submit 'Сохранить', class: 'btn btn-lg btn-default flat'