=scrollbar($color: rgba(32,32,32,1))
  // Настройки скроллбара
  &::-webkit-scrollbar
    background-color: transparent
    width: 12px
    height: 100%
  // Бегунок скроллбара
  &::-webkit-scrollbar-thumb
    background-color: rgba(32,32,32,0.7)
    height: 60px
    &:hover
      background-color: $color