.margin-0
  margin: 0 !important

.padding-0
  padding: 0px !important

$spaces_max: 60
$step: 5
$i: 0
@while $i <= $spaces_max
  .margin-#{$i}
    margin: $i + px !important
  .margin-top-#{$i}
    margin-top: $i + px !important
  .margin-bottom-#{$i}
    margin-bottom: $i + px !important
  .margin-left-#{$i}
    margin-left: $i + px !important
  .margin-right-#{$i}
    margin-right: $i + px !important
  .padding-top-#{$i}
    padding-top: $i + px !important
  .padding-bottom-#{$i}
    padding-bottom: $i + px !important
  .padding-left-#{$i}
    padding-left: $i + px !important
  .padding-right-#{$i}
    padding-right: $i + px !important
  $i: $i + $step

$size_max: 1000
$step: 10
$i: 0
@while $i <= $size_max
  .h#{$i}px
    height: $i + px !important
  .w#{$i}px
    width: $i + px !important
  $i: $i + $step

.w45px
  width: 45px !important

.w100
  width: 100% !important

.w50
  width: 50% !important

.h45px
  height: 45px !important

.h100
  height: 100% !important
