#flash-alert
  margin: 0 auto
  text-align: center
  position: fixed
  max-height: 300px
  bottom: 0
  left: 50%
  width: 500px
  margin-left: -250px
  z-index: 1150
  font-size: 20px
  font-weight: bold
  padding: 0
  margin-bottom: 20px
  color: #fff
  height: 0
  opacity: 0
  animation: hide_flash_alert 5s
  -webkit-animation: hide_flash_alert 5s
.flash_color_notice
  background-color: $metal-color
.flash_color_alert
  background-color: $alert-color

@keyframes hide_flash_alert
  0%
    padding: 20px
    height: auto
    opacity: 1
  70%
    opacity: 1
  90%
    padding: 20px
    opacity: 0
    height: auto
  100%
    padding: 0
    height: 0