.menu-container-fixed-height
  height: 71px
#menu
  border-top: 1px solid #ccc
  @include display_flex
  @include justify_content_center
  font-family: $lato
  text-transform: uppercase
  margin: 0
  position: relative
  z-index: 200

  &.menu-fixed
    position: fixed
    ul.nav
      li
        padding: 0 20px
  ul#desktop-menu.nav
    li
      padding: 10px 20px
      a.category-link
        color: #000
        &:hover
          color: #fff
          background-color: $metal-color
          &.contacts-link
            background-color: #ddd
        &.active
          font-weight: bold
          color: $metal-color
          &:hover
            color: #fff

// Стили для фиксированной версии меню
.menu-fixed
  position: fixed
  top: -100px
  z-index: 99
  width: 100%
  background: #fff
  height: 70px

.js-fixed-menu
  will-change: top
  transition: all 250ms linear

.js-fixed-menu--pinned
  top: 0
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5)

.js-fixed-menu--unpinned
  top: -100px

// Предотвращаем коллапс при просмотре со screen-xs.
.navbar-nav>li, .navbar-nav 
  float: left !important