.quote__block
  position: relative
  border: 1px solid #ccc
  margin-bottom: 42px
  .quote__header,.quote__body,.quote__footer
    width: 100%
  .quote__header,.quote__footer
    color: $metal-color-07
    height: 42px
    line-height: 42px
    font-size: 14px
    .quote__header_author,.quote__header_date
      position: absolute
      width: auto
    .quote__header_author
      left: 20px
    .quote__header_date
      right: 20px
  .quote__body
    padding: 20px 
    border-bottom: 1px solid #ccc
  .quote__footer
    .rate_toggler
      color: $metal-color-07
      &:hover
        color: $metal-color