// От этого размера отталкиваются все rem
html,body
  font-size: 18px
  max-width: 100%
  margin: 0
  padding: 0
  @include scrollbar(rgba(0,0,0,1))
  font-family: $lato
  .content-wrapper
    margin-top: 80px

.full-width
  width: 100% !important
.text-center
  text-align: center !important
.text-right
  text-align: right !important
.flat
  border-radius: 0 !important
.whitespacer
  white-space: pre-wrap !important
.btn-default
  background-color: $metal-color
  color: #fff
  &:hover
    background-color: #fff
    color: $metal-color
    border: solid $metal-color 1px
textarea
  resize: none
textarea,input
  border-radius: 0 !important

.invalid-feedback
  color: $alert-color