#loading-state-div
  div.spinner-container
    #logo-loader
      #logo-loader-text
        |K
        span#xs-logo-loader-little urilka
      br
      i.fa.fa-spinner.fa-pulse.fa-5x.fa-fw
        span.sr-only