svg#menu-svg xmlns="http://www.w3.org/2000/svg" version="1.2" baseProfile="tiny" viewBox="0 0 300 400" width='30'
  g
    rect x="0" y="100" width="300" height="14.2857141"
    rect x="0" y="189.9972076" width="300" height="14.2857141"
    rect x="0" y="280.0013885" width="300" height="14.2857141"
