.row#menu.js-fixed-menu
  ul#desktop-menu.nav.navbar-nav
    li
      = link_to 'Новое',quotes_path, class: "category-link#{' active' if action_name == 'index' && !params[:order].present? }"
    li
      = link_to 'Лучшее',quotes_path(order: :rate), class: "category-link#{' active' if action_name == 'index' && params[:order] == 'rate' }"
    li
      = link_to 'Добавить',new_quote_path, class: "category-link#{' active' if action_name == 'new'}"