#mobile_menu
  ul.nav.navbar-nav
    / - category = Category.find_by_slug("glass")
    / li
    /   = link_to "#{category.title}", category_path(category,locale: get_locale), class: "category-link #{ 'active' if params[:id] == category.slug || (@product.present? && @product.category.slug == 'glass') }", data: { category: "#{category.slug}" }
    - category = Category.find_by_slug("textile")
    li
      = link_to "#{category.title}", category_path(category,locale: get_locale), class: "category-link #{ 'active' if params[:id] == category.slug || (@product.present? && @product.category.slug == 'textile') }", data: { category: "#{category.slug}" }
    - category = Category.find_by_slug("metal")
    li
      = link_to "#{category.title}", category_path(category,locale: get_locale), class: "category-link #{ 'active' if params[:id] == category.slug || (@product.present? && @product.category.slug == 'metal') }", data: { category: "#{category.slug}" }
    li
      = link_to(contacts_path(locale: get_locale), class: "category-link contacts-link #{ 'active' if controller_name == 'main' && action_name == 'contacts' }")
        |Контакты
    li
      = active_link_to 'RU', change_locale_url(nil), active: :exclusive, class: "locale_link"
      | &nbsp;/&nbsp;
      = active_link_to 'EN', change_locale_url('en'), class: "locale_link"