doctype html
html
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
    meta charset="UTF-8"
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
    - if yield(:seo_title).present?
      title KURILKA || #{yield(:seo_title)}
    - else
      title KURILKA || Свобода слова, свобода мысли!
    meta name="description" content="#{ yield(:seo_description) }"
    meta name="keywords" content="#{ yield(:seo_keys) }"
    link rel="icon" href=asset_path("favicon.ico")
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  body
    = render 'layouts/partials/loader'
    - ['alert', 'notice'].each do |fl|
      - if flash.send(fl).present?
        #flash-alert class="flash_color_#{ fl }" = flash.send(fl)
    header
      .container-fluid
        .header
          = render 'layouts/partials/header'
    .container-fluid style='padding:0;padding-left:1px'
      .menu-container-fixed-height
        = render 'layouts/partials/menu'
    .content-wrapper
      .row
        .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
          = yield
    / - unless (controller_name == 'main' && action_name == 'index')
    /   = render 'layouts/partials/footer'
    / - ['alert', 'notice'].each do |fl|
    /   - if flash.send(fl).present?
    /     #flash-alert class="flash_color_#{ fl }" = flash.send(fl)